@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Montserrat+Subrayada');

/*P: #396fd3
P-Light: #759dff
P-Dark: #0045a1
S: #08d3ba
S-Light: #64ffec
S-Dark: #00a18a*/

body {
    overflow-x: auto;
    position: relative;
    margin: 0 auto;
    padding: 40px 10px;
    width: 90%;
    max-width: 700px;
    background-color: #fcfcfc;
}

h2, h3, h4, p, label, input {
    font-family: 'Lato', sans-serif;
}

.title {
    text-align: center;
    font-size: 4em;
    margin: .25em 0 .1em;
    color: #396fd3;
    font-family: 'Montserrat Subrayada', sans-serif;
}

@media all and (max-width: 350px) {
    .title {
        font-size: 3em;
    }
}

@media all and (max-width: 500px) and (min-width: 350px) {
    .title {
        font-size: 3.5em;
    }
}

.subtitle {
    text-align: center;
    color: #759dff;
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    font-style: italic;
}

.plane-divider::before, .plane-divider::after {
    padding: 0 10px;
    content: "\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7";
}

@media all and (max-width: 670px) and (min-width: 500px) {
    .plane-divider::before, .plane-divider::after {
        content: "\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7";
    }
}

@media all and (max-width: 500px) and (min-width: 370px) {
    .plane-divider::before, .plane-divider::after {
        content: "\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7";
    }
}

@media all and (max-width: 370px) {
    .plane-divider::before, .plane-divider::after {
        content: "\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7\00B7";
    }
}

.plane-divider {
    color: #0045a1;
    text-align: center;
    margin-bottom: 20px;
}

.plane-divider i {
    padding: 0 5px;
}

input[type=text] {
    padding: 0 5px;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 3px;
    background-color: white;
    font-size: 16px;
}

.form-element {
    margin-bottom: .6em;
    text-align: center;
}

.form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-input label {
    padding-right: 15px;
}

@media all and (max-width: 500px) {
    .form-input {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .form-input label {
        margin-bottom: 10px;
        padding: 0;
    }
}

button {
    background-color: #00a18a;
    border: none;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.17);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.17);
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.17);
}

button:hover {
    filter: brightness(115%);
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.4);
}

th {
    border-bottom: 2px solid black;
}

.depart {
    border-right: 2px solid black;
}

.results-detail {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}

@media all and (max-width: 500px) {

    .depart {
        border-right: none;
        border-bottom: 2px solid black;
    }

    table.results-detail {
        width: 100%;
        border-collapse: collapse;
    }

    table.results-detail th,
    table.results-detail td {
        padding: 10px 0;
        width: 100%;
    }

    .results-detail table,
    .results-detail thead,
    .results-detail tbody,
    .results-detail th,
    .results-detail td,
    .results-detail tr {
        display: block;
        margin-top: 2px;
    }
}

.results-detail th {
    padding: 8px;
}

.flight-description {
    font-size: 1.4em;
    font-weight: 600;
    color: #396fd3;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-decoration: underline;
}

.flight-duration-info {
    color: grey;
    font-weight: normal;
}

.depart .airport-code {
    color: #0045a1;
}

.arrive .airport-code {
    color: #00a18a;
}

.results-detail td {
    width: 45%;
}

.table-heading {
    text-align: center;
    font-weight: bold;
    margin: .5em 0;
    font-size: 1.4em;
}

.flight-icon {
    padding-right: 5px;
    padding-bottom: .2em;
    font-size: .85em;
    vertical-align: middle;
}

.airport-code {
    font-size: 4em;
    text-align: center;
    margin: 0;
    font-weight: 700;
}

.airport-name {
    text-align: center;
    margin-top: -.2em;
    font-weight: 100;
}

.flight-time {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: .5em;
}

.time-value {
    font-size: 2em;
    padding-right: 5px;
}

.flight-date {
    text-align: center;
    margin: 0 0 0.5em 0;
}

.calendar-add-container {
    padding: 1.5em;
    text-align: center;
}

.response-divider {
    margin: 1.5em 0;
}

.powered-by {
    float: right;
    padding-right: 10px;
}

.powered-by,
.powered-by a {
    color: grey;
    font-family: sans-serif;
}
